django==5.1.8
pillow
djangorestframework
djangorestframework-simplejwt
python-decouple
django-redis
celery
psycopg2-binary
drf-spectacular
django-import-export
colorlog
django-axes
django-ratelimit
drf-nested-routers
celery[redis]
django-celery-beat
django-celery-results
flower
firebase-admin
pyfcm
django-extensions
aiosmtpd
fcm-django
gunicorn
django-cors-headers
django-storages
whitenoise
boto3